@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<br />
<div>
    @{

        foreach (var p in Model.AllProducts)
        {
            <ul>
                <li>@p.Name - @p.Desctiption - @p.Value</li>
            </ul>


        }

    }

</div>

